[submodule "3DGS/submodules/simple-knn"]
	path = 3DGS/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "3DGS/submodules/diff-gaussian-rasterization"]
	path = 3DGS/submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
	branch = dr_aa
[submodule "3DGS/SIBR_viewers"]
	path = 3DGS/SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "3DGS/submodules/fused-ssim"]
	path = 3DGS/submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim.git
